extends layout

block header
  .container-fluid.banner
    .row#id("") 
      .col-sm-1 
      .col-sm-10
        .row
          .col-sm-3
            a(href="/") 
              h2.headerlink Boopala Arul
          .col-sm-1 
          .col-sm-2 
            a(href="/resume") 
              h3.headerlink Resume
          .col-sm-2 
            a(href="https://github.com/smeeren/") 
              h3.headerlink GitHub 
          .col-sm-2
            a(href="https://www.linkedin.com/in/boopalakrishnan-a-0a6575ab/") 
              h3.headerlink LinkedIn
      .col-sm-1  
block footer
  //- more description: on yourself, your contacts, anything
